.App {
  text-align: center;
  background: rgb(246, 226, 212);
  height: 100vh;
  position: relative; 
}
span.home-nav {
  display: inline-block;
  margin: 0px 3em 0px 3em;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-weight: bolder !important;
}

.center-navs {
  position: absolute;
  white-space: nowrap;
  left: 50%; 
  top: 25%;
  transform: translate(-50%, -50%);
}

.brand img {
  width: 50em;
  transform: translateX(2em);
}

.about-me-nav {
  position: absolute; 
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -40%);

}

.about-me-nav > span {
  display: inline-block;
  width: 300px; 
  height: 300px;
  background: white;
  border-radius: 100%;

}


.about-me-nav span .inner-span{
  display: inline-block;
  width: 250px; 
  height: 250px;
  background: rgb(255, 145, 72);
  border-radius: 100%;
  transform: translateY(25px);
}

.about-me-nav span .inner-span .about-me-text{ 
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  transform: rotate(90deg);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
